<tr>
  <td><%= link_to gist.unique_hash, "https://gist.github.com/#{gist.unique_hash}" %></td>
  <td><%= link_to gist.question.body.slice(0, 25), admin_question_path(gist.question) %></td>
  <td><%= gist.user.email %></td>
</tr>