<% if model.present? && model.errors.present? %>
  <%= content_tag :div, class: 'resource-errors', data: { resource_id: model.id } do %>
  <h2>
    <%= t('.header', count: model.errors.count) %>:
  </h2>
  <ul>
    <% model.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
  <% end %>
<% end %>
