<footer>
  <div>
    &copy;<%= Date.current.year %>
    Ivan Belitskii
  </div>
  <div>
    <p><a href="https://github.com/trikey/test-guru" target="_blank">Test Guru</a></p>
    <p>Project for tests</p>
  </div>
  <div>
    <a href="http://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
  </div>
</footer>