<footer>
  <div>
    &copy;<%= current_year %>
    Ivan Belitskii
  </div>
  <div>
    <p><%= github_url 'trikey', 'test-guru', 'Test Guru' %></p>
    <p>Project for tests</p>
  </div>
  <div>
    <a href="http://thinknetica.com" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
  </div>
</footer>