<h2><%= @question.body %></h2>
<br/>
<p>Answers</p>
<ul>
  <%= render @question.answers %>
</ul>
<%= link_to 'New answer', new_admin_question_answer_path(@question) %>
<br>
<%= link_to 'Back to test questions', admin_test_path(@question.test) %>
