.alert-notice {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.alert-notice hr {
  border-top-color: #abdde5;
}
.alert-notice .alert-link {
  color: #062c33;
}

.alert-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-alert hr {
  border-top-color: #f1b0b7;
}
.alert-alert .alert-link {
  color: #491217;
}