<div class="row">
  <div class="col mt-3">
    <h1><%= t('common.tests') %></h1>
    <table class="table">
      <tr>
        <th class="sort-by-title pointer">
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
          Title
        </th>
        <th>
          actions
        </th>
      </tr>
      <%= render @tests %>
    </table>
  </div>
</div>